<!doctype html>
<html lang="en" ng-app="bigmlEditor">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>XXX Editor</title>
    
    <!--
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/jointjs/0.9.7/joint.core.min.css" >
    -->
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet" type="text/css" href="_remote/bootstrap.min.css" >
    <link rel="stylesheet" type="text/css" href="_remote/joint.core.min.css" >
    
    <!--
    <script type="application/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="application/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script type="application/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.1/backbone-min.js"></script>
    <script type="application/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jointjs/0.9.6/joint.min.js"></script>
    <script type="application/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
    -->
    <script type="application/javascript" src="_remote/jquery.min.js"></script>
    <script type="application/javascript" src="_remote/lodash.min.js"></script>
    <script type="application/javascript" src="_remote/backbone-min.js"></script>
    <script type="application/javascript" src="_remote/joint.min.js"></script>
    <script type="application/javascript" src="_remote/angular.min.js"></script>
    
    <script type="application/javascript" src="index.js"></script>
    <script type="application/javascript" src="jointjs.js"></script>
    <script type="application/javascript" src="components/basic.js"></script>
    <script type="application/javascript" src="components/databases.js"></script>
    <script type="application/javascript" src="components/queues.js"></script>
  </head>
  
  <body ng-controller="editor">
    <!-- Left side menu -->
    <div id="sidebar" class="col-xs-2 gradientborder">
      <h1>XXX Editor</h1>
      
      <h2>Components</h2>
      <ul>
        <li component-list-element ng-repeat="component in componentsList.root"></li>
      </ul>
      
      <div ng-repeat="group in componentsList.subgroups">
        <h3 ng-click="showlist = !showlist">{{ group.text }} <span class="pull-right glyphicon" ng-class="showlist ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'"></span></h3>
        <ul ng-class="showlist ? '' : 'collapsed'">
          <li component-list-element ng-repeat="component in group.elements"></li>
        </ul>
      </div>
    </div>
    
    <!--  Middle editor area -->
    <div jointjs-editor id="workflow" class="col-xs-10">
    </div>
    
    <!-- Right side properties --->
    <div component-properties-editor id="properties" class="col-xs-2 gradientborder stowed">
      <h2>Properties</h2>
      <div ng-repeat="property in propertyEditorElement.properties">
        <p>{{ property.name }}</p>
      </div>
    </div>
  </body>
</html>